# Application
GOKIL_APP_NAME=gokil-cli-demo
GOKIL_ENV=development
GOKIL_DEBUG=true
GOKIL_HOST=127.0.0.1
GOKIL_PORT=8080

# Database (PostgreSQL)
GOKIL_DB_DRIVER=postgres
GOKIL_DB_HOST=localhost
GOKIL_DB_PORT=5432
GOKIL_DB_USER=gokil-cli-demo
GOKIL_DB_PASSWORD=gokil
GOKIL_DB_NAME=gokil-cli-demo
GOKIL_DB_DSN=postgres://gokil-cli-demo:gokil@localhost:5432/gokil-cli-demo?sslmode=disable
GOKIL_DB_MIGRATIONS_DIR=migrations

# Redis (optional)
# GOKIL_REDIS_ENABLED=true
# GOKIL_REDIS_HOST=localhost
# GOKIL_REDIS_PORT=6379
# GOKIL_REDIS_URL=redis://localhost:6379/0

# Storage (local or s3)
GOKIL_STORAGE_PROVIDER=local
GOKIL_STORAGE_LOCAL_PATH=storage
# GOKIL_STORAGE_PROVIDER=s3
# GOKIL_STORAGE_BUCKET=my-bucket
# GOKIL_STORAGE_REGION=ap-southeast-1
